@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    input:-webkit-autofill {
        box-shadow: 0 0 0 1000px transparent inset !important;
        -webkit-text-fill-color: inherit !important;
        transition: background-color 5000s ease-in-out 0s;
    }

    input:-webkit-autofill:focus {
        box-shadow: 0 0 0 1000px transparent inset !important;
    }
}

@keyframes blink {

    0%,
    100% {
        opacity: 1
    }

    50% {
        opacity: 0
    }
}

.blink {
    animation: blink 1s step-start infinite;
}

.grecaptcha-badge {
    visibility: hidden;
}

html {
    scroll-behavior: smooth;
}